@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.no-select {
  user-select: none; /* Prevent text selection */
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #956144;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #956144;
  }
}

.custom-scrollbar {
  @apply bg-white p-10 rounded-2xl shadow-2xl space-y-6 h-[80vh] overflow-y-auto scroll-smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-3 bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-black bg-opacity-50 rounded-full hover:bg-opacity-75 transition-all duration-300;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-100;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 6s ease-in-out infinite;
  animation-delay: 2s;
}

.animate-draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s ease-out forwards;
}

.animate-draw-delayed {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s ease-out forwards;
  animation-delay: 1s;
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 2s;
}

@keyframes fadeIn {
  to {
    opacity: 0.1;
  }
}
