@tailwind base;
@tailwind components;
@tailwind utilities;

body,
button,
.cursor-pointer {
  cursor: none !important;
}

.no-select {
  user-select: none; /* Prevent text selection */
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #956144;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #956144;
  }
}
